<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="wsDualHttpBinding_IService1" />
                <binding name="WSDualHttpBinding_IGobangService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54110/Service1.svc" binding="wsDualHttpBinding"
                bindingConfiguration="wsDualHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="wsDualHttpBinding_IService1" />
            <endpoint address="http://localhost:55236/GobangService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IGobangService"
                contract="ServiceReference1.IGobangService" name="WSDualHttpBinding_IGobangService">
                <identity>
                    <userPrincipalName value="HNOYCY-COMPUTER\hnoyc" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>